* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 7px !important;
}
.hide {
  display: none;
}
/* ToDo */

.input_field {
  padding: 7px 10px;
  margin-bottom: 10px;
}

/* Table */
table {
  border-collapse: separate !important;
}
td,
th {
  border-width: 2px !important;
  padding: 7px;
}
i {
  padding: 5px 7px;
  border-radius: 4px;
  color: #fff;
}
button {
  border: none;
}

/* editform */
#editform {
  width: 47%;
  margin: 25px 23px 0 0;
}
